
@model POS.Models.SupplierA;
@{
    ViewData["Title"] = "Create";
}



<link href="~/css/style.css" rel="stylesheet" />


<form class="form-style-9 " asp-action="CreateA">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h2>Add new Supplier</h2>
    <hr style="background-color:cadetblue" />
    <ul class="row">
        <li class="col-md-2">
            <h5>Code:</h5>
            <input type="text" class="form-control" asp-for="Code" placeholder="Enter Date" />

            <span asp-validation-for="Code" class="text-danger"></span>
        </li>
        <li class="col-md-2">
            <h5>Name:</h5>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Date" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </li>
        <li class="col-md-2">
            <h5>Address:</h5>
            <input type="text" class="form-control" asp-for="Address" placeholder="Enter Quantity" />

            <span asp-validation-for="Address" class="text-danger"></span>

        </li>
        <li class="col-md-2">
            <h5>Contact:</h5>
            <input type="number" class="form-control" asp-for="Contact" placeholder="Enter Sales Price" />

            <span asp-validation-for="Contact" class="text-danger"></span>


        </li>
        <li class="col-md-2">
            <h5>Email:</h5>
            <input type="number" class="form-control" asp-for="Email" placeholder="Enter Discount" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </li>
    </ul>
    <ul class="row">
        <li class="col-md-2">
            <h5>Contact Person:</h5>
            <input type="number" class="form-control" asp-for="ContactPerson" placeholder="Enter Discount" />
            <span asp-validation-for="ContactPerson" class="text-danger"></span>
        </li>
    </ul>
    <ul>

        <li>
            <input type="submit" value="Save" class="form-control" />


        </li>
        <li>
            <a asp-action="Index" class="btn btn-danger form-control" id="bck">Back</a>
        </li>
    </ul>
</form>
