@model POS.Models.Department
@{
    ViewData["Title"] = "Create";
}

<div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index">Department List</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New Department</li>
                    </ol>
                </nav>
                <br /><br />
                      <form method="post" class="table-bordered breadcrumb-item"  enctype="multipart/form-data" asp-action="Create">
                          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                          <div class="form-row">
                              <div class="form-group col-md-1">
                                  <label asp-for="Name"></label>
                              </div>
                              <div class="form-group col-md-5">
                                  <input asp-for="Name" class=" form-control" placeholder="Department" />
                                  <span asp-validation-for="Name" class="text-danger"></span>
                              </div>
                              <div class="col-md-2"></div>
                          </div> <br /><br />

                          <div class="form-group">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="col-md-3">
                                          <button type="submit" class="btn btn-rounded btn-primary form-control"><i class="fa fa-save" style="margin-right:0.7em"></i>Save</button>
                                      </div>
                                      <div class="col-md-3">
                                          <a asp-action="Index" class="btn btn-rounded btn-success form-control"><i class="fa fa-angle-left" style="margin-right:0.7em"></i>Back</a>
                                      </div>
                                  </div>
                              </div>
                              <br />
                              <br />
                              <br />
                          </div>
                      </form>
            </div>
        </div>
    </div>
    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


