@model POS.Models.Purchase

@{
    ViewData["Title"] = "Edit";
}


<style type="text/css">
    .form-style-9 {
        max-width: 450px;
        background: #FAFAFA;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #305A72;
    }

        .form-style-9 ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .form-style-9 ul li {
                display: block;
                margin-bottom: 10px;
                min-height: 35px;
            }

                .form-style-9 ul li .field-style {
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    padding: 8px;
                    outline: none;
                    border: 1px solid #B0CFE0;
                    -webkit-transition: all 0.30s ease-in-out;
                    -moz-transition: all 0.30s ease-in-out;
                    -o-transition: all 0.30s ease-in-out;
                }

                    .form-style-9 ul li .field-style:focus {
                        box-shadow: 0 0 5px #B0CFE0;
                        border: 1px solid #B0CFE0;
                    }

                .form-style-9 ul li .field-split {
                    width: 49%;
                }

                .form-style-9 ul li .field-full {
                    width: 100%;
                }

                .form-style-9 ul li input h3 .align-left {
                    float: left;
                }

                .form-style-9 ul li input h3.align-left {
                    float: left;
                }

                .form-style-9 ul li textarea {
                    width: 100%;
                    height: 100px;
                }

                .form-style-9 ul li input[type="button"],
                .form-style-9 ul li input[type="submit"] {
                    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
                    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
                    box-shadow: inset 0px 1px 0px 0px #3985B1;
                    background-color: #216288;
                    border: 1px solid #17445E;
                    display: inline-block;
                    cursor: pointer;
                    color: #FFFFFF;
                    padding: 8px 18px;
                    text-decoration: none;
                    font: 12px Arial, Helvetica, sans-serif;
                }

                    .form-style-9 ul li input[type="button"]:hover,
                    .form-style-9 ul li input[type="submit"]:hover {
                        background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
                        background-color: #28739E;
                    }

    #bck {
        background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
        background-color: #28739E;
    }

    .form-control {
        width: 100%;
    }
</style>
<form class="form-style-9" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PurchaseId" />
    <ul>
        <li type="hidden">

            <input type="hidden" placeholder="Quantity" asp-for="SupplierId" class="form-control" />

        </li>
        <li>
            <label asp-for="Quantity" class="control-label"></label>
            <input type="number" id="Quantity" onchange="Dis()" placeholder="Quantity" asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </li>
        <li>
            <label asp-for="UnitPrice" class="control-label"></label>
            <input id="UnitPrice" type="number" placeholder="UnitPrice" asp-for="UnitPrice" class="form-control" />
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </li>
        <li style="display:none">
            <label asp-for="Discount" class="control-label"></label>
            <input id="Discount" type="number" placeholder="Discount" asp-for="Discount" class="form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </li>
        <li>
            <label asp-for="TotalPrice" class="control-label"></label>
            <input type="number" id="TotalPrice" placeholder="TotalPrice" asp-for="TotalPrice" class="form-control" />
            <span asp-validation-for="TotalPrice" class="text-danger"></span>
        </li>
        <li>
            <label asp-for="PurchaseDate" class="control-label"></label>
            <input type="date" placeholder="PurchaseDate" asp-for="PurchaseDate" class="form-control" />
            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
        </li>
        <li>
            <label asp-for="Product.ProductName" class="control-label"></label>
            <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </li>

        <li>
            <input type="submit" value="Update" class="form-control" />
        </li>
        <li>
            <a asp-action="Index" class="btn btn-danger form-control" id="bck">Back</a>
        </li>
    </ul>
</form>
@section Scripts{


    <script type="text/javascript">

        $(function () {
             $("#Quantity").change(function () {

                Dis();
            });
            $("#UnitPrice").change(function () {

                Dis();
            });


            function Dis() {

                var Quantity = $("#Quantity").val();
                var rate = $("#UnitPrice").val();
                var cashValue = parseFloat(Quantity) * parseFloat(rate);
                //var DiscountPer = $("#discount").val();
                //var DisPer = DiscountPer / 100;
                //var Total = cashValue * (1 - DisPer) ;
                // var Total = cashValue;  /* - parseFloat(cashValue);*/
                debugger
                $("#TotalPrice").val(cashValue);
            }

            $('#date').datepicker({
                autoclose: true
            });


            $('#reservation').daterangepicker();



        });

    </script>
}